h1 {
    color: #ee4384;
    font-family: Arial, sans-serif;
}

p {
    font-size: 17px;
    font-family: Arial, sans-serif;
    width: 600px;
}

h2 {
    color: #ee4384;
    font-family: Arial, sans-serif;
}

p.chaki {
    color: rgb(95, 99, 60);
    font-family: Arial, sans-serif;
}