* {
    box-sizing: border-box;
}

/* kai norim nustatyti naršyklės lango plotį: */
.center-wrapper {
    width: 70%;
    margin: 0 auto;
}

h1 {
    border: 30px dashed red;
    /* padding-left: 50px; */
    /* padding: 0 0 0 50px;  */
    /* atitikmuo: */
    padding: 20px;
  /* margin-top: 20px;
    margin-bottom: 20px; */
    margin: 20px 0 20 px 0;
    /* abejais atvejais gaunamas tas pats rezultatas */
    /* atitikmuo margin: 20px 0; */
    background-color: antiquewhite;
    text-align: center;
    font-size: 50px;    
    font-family: sans-serif;
    color: red;
}

/* tėviniams div pritaikoma 0 tarpelis, todėl tai prisitaiko visiems viduje esantiems dydžiams, tod4l reikia kiekvieną parametrą po to apsirašyti atskirai */
div.wrapper {
    font-size: 0px;
}

div.side-menu, div.content {
    display: inline-block;
    /* width: 50%; */
    padding: 20px;
    /* suvienodima aukščius: */
    vertical-align: top;
}


div.side-menu {
    width: 25%;
    background-color: cadetblue;
}

div.content {
    width: 75%;
    background-color: #dadada;
}

div.side-menu ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    font-size: 16px;
}


/* nuimti taškučius nuo išvardinimų esančių div side-menu ul 
div.side-menu ul {
    patrauke iki krašto
    padding: 0;
    nuima burbuliukus arba galima pakesti į kitokį 
    list-style-type: none;
}
*/


h2 {
    font-size: 32px;
}

p {
    font-size: 20 px;
}

/* išimti margin nuo "Striapsnio antraštė" */
div.content h2 {
    margin-top: 0;
}

/* paragrafui nuimti apatinį tarpą */
div.content p {
    margin-bottom: 0;
}

.article-thumbnail {
    /* height: 600px; */
    width: 100%;
}