body {
    background-color: bisque;
}

/* Elemento selektroius */
h1 {
    color: blue;
    font-family: monospace;
}

/* Kombinuotos klasės su elementu selektorius */
h1.raudonas {
   color: #ff7272; 
   font-size: 50px;
}


p.raudonas {
    color: #870000;
    font-weight: bold;
}
/* jei sukeisim seka tarp raudona ir mėlyna blokų tai niekas nepasikeist dėl svorių. klasės selektoriai tur ididesnius svorius nei pavadinimai */
/* Id elementas dar sunkesnis už class */

/* Pseudo selektorius: aprašomi h1 kai ant jų užvesta pelė */
h1:hover {
    color:yellow;
}


/* ID selektorius */
#main-title {
    color:green;
    background-color: black;
}

/* pseudo selsktorius ID */
#main-title:hover {
    color: violet;
}

/* kelių klasių selektorius */
/* kai vienas selekrius atsakingas už kelis atributorius, tikrinamos sąlygos: */
h2.sub-title.zalia {
    /* jei tenkina visas tris sąlygas */
    text-align: center;
    font-size: 32px;
    color:brown;
}

/* pakeisti paragrafų esančių lentelėje tekstų dydį: */

/* hierarkinis selektorius */
table p {
    font-size: 10px;  
}

/* selektroių sąrašas */
table, th, td {
    border: 3px solid #115528;
}

/* kai parametras gali turėti ne vieną reikšmę, mes juos galime atskirti tarpu */

.kursyvas {
    font-style: italic;
}